# Dependencies
node_modules/

# Environment variables
.env
test-user.js
test-msg91.js
seedCategoriesAndSkills.js

# Logs
logs
*.log
npm-debug.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/